body{
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container{
min-height: 80vh;
max-width: 800px;
display: flex;
background-color:white;
justify-content: center;
align-items: center;
margin:auto;
border-radius: 12px;
padding: 60px;
border: 1px solid black;
}
 #header {
  margin-bottom: 650px;
  text-align: center;
  margin-left: 30%;
  margin-top: 2px;
}
#header h1{
  margin: 0;
  font-size: 2em;
}
#header p{
  margin: 5px 0 0 0;

}