body{
  background-color: #fff;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  
}

#post-list{
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  margin: 5px 0;
}
#post-details{
  margin-top: 20px;
  background-color: #fff;
   padding: 10px;
   border: 1px solid #aaa;

}

#head{
  width: 50%;
  display: block;
}

.form-card{
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  background-color: #fff;
  margin-top: 30px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0,0,0,0,0.05);

}
form{
  margin-bottom: 20px;
}

input, textarea{
  display: block;
  margin-bottom: 10px;
  width: 50%;
  padding: 8px;
  font-size: 16px;
}

button{
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: #007BFF;
  color: white;
  transition-duration: 0.15s;
}

button:hover{
  background-color: #0056b3;
  transition-duration: 0.15s;
}
.hidden{
  display: none;
}

#form-section form {
  margin-bottom: 20px;
}

#post-list h3 {
  cursor: pointer;
  color: teal;
}

#post-detail img {
  width: 100%;
  max-width: 400px;
}

